{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    結果２
{% endblock %}

{% block content %}

    {% include Constants.result_template %}

    {% if player.role == 'A' %}
        <p>
            機械はペアに{{ group.Smb }}を送り、
            その額は{{ tripled_amount2 }}となってペアに渡されました。
            ペアは{{ group.Rbm }}を機械に返しました。
        </p>
        <p>
            あなたの獲得ポイントは、ペアとゲームをプレイした機械の獲得したポイントなので、
            初期所持ポイントの{{ Constants.endowment }}から
            機械がペアに渡した{{ group.Smb }}を引き、
            ペアから返ってきた{{ group.Rbm }}を足したものなので、
            ({{ Constants.endowment }})-({{ group.Smb }})+({{ group.Rbm }})= <strong>{{ group.Ga3}}</strong>
            です。
        </p>
    {% else %}
        <p>
            ペアは機械に{{ group.Sam }}を渡し、
            機械はペアに{{ group.Rma }}返しました。
        </p>
        <p>
            あなたの獲得ポイントは、ペアとゲームをプレイした機械の獲得したポイントなので、
            初期所持の0ポイントから
            ペアが機械に送った額の３倍の{{ tripled_amount3 }}を足し、
            ペアに渡した{{ group.Rma }}を引いたものなので、
            ({{ tripled_amount3 }})-({{ group.Rma }})=<strong>{{ group.Gb3 }}</strong>
            です。
        </p>
    {% endif %}

    <p>{% next_button %}</p>

{% endblock %}
