{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    {% if player.role == 'A' %}
        <p>ここにintroduction. あなたはfirst moverです。</p>
    {% else %}
        <p>ここにintroduction. あなたはsecond moverです。</p>
    {% endif %}
    <p>
        To start, participant A receives {{ Constants.endowment }};
        participant B receives
        nothing.
        his {{ Constants.endowment }} to participant B.
        Before B receives this amount, it will be multiplied
        by {{ Constants.multiplier }}. Once B receives
        the tripled amount he can decide to send some or all of it to
        A.
    </p>
    </div>
</div>