{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    結果１
{% endblock %}

{% block content %}

    {% include Constants.result_template %}

    {% if player.role == 'A' %}
        {% if group.player_select1 == 1 %}
            <p>
                あなたは“人間”を選択しました。
                あなたはペアに{{ group.Sab }}を渡し、
                ペアはあなたに{{ group.Rba }}渡しました。
            </p>
            <p>
                あなたの獲得ポイントは、初期所持の{{ Constants.endowment }}から
                ペアに渡した{{ group.Sab }}を引き、
                ペアから返ってきた{{ group.Rba }}を足したものなので、
                ({{ Constants.endowment }})-({{ group.Sab }})+({{ group.Rba }})=<strong>{{ group.Ga1}}</strong>
                です。
            </p>
        {% else %}
            <p>
                あなたは“機械”を選択しました。
                あなたは機械に{{ group.Sam }}を渡し、
                機械はあなたに{{ group.Rma }}返しました。
            </p>
            <p>
                あなたの獲得ポイントは、初期所持の{{ Constants.endowment }}から
                機械に渡した{{ group.Sam }}を引き、
                機械から返ってきた{{ group.Rma }}を足したものなので、
                ({{ Constants.endowment }})-({{ group.Sam }})+({{ group.Rma }})= <strong>{{ group.Ga2}}</strong>
                です。
        {% endif %}
    {% else %}
        {% if group.player_select2 == 1 %}
            <p>
                あなたは“人間”を選択しました。
                ペアはあなたに{{ group.Sab }}を送り、
                その額は{{ tripled_amount }}となってあなたに渡されました。
                あなたは{{ group.Rba }}をペアに渡しました。
            </p>
            <p>
                あなたの獲得ポイントは、初期所持の0ポイントから
                ペアが送ったポイントの３倍の{{ tripled_amount }}を足し、
                ペアに渡した{{ group.Rba}}を引いたものなので、
                ({{ tripled_amount}})-({{ group.Rba }})=<strong>{{ group.Gb1 }}</strong>
                です。
            </p>
        {% else %}
            <p>
                あなたは“機械”を選択しました。
                機械はあなたに{{ group.Smb }}を送り、
                そのポイントは３倍の{{ tripled_amount2 }}となってあなたに渡されました。
                あなたは{{ group.Rbm }}を機械に返しました。
            </p>
            <p>
                あなたの獲得ポイントは、初期所持の0ポイントから
                機械が送ったポイントの３倍の{{ tripled_amount2 }}を足し、
                機械に渡した{{ group.Rbm}}を引いたものなので、
                ({{ tripled_amount2 }})-({{ group.Rbm }})=<strong>{{ group.Gb2 }}</strong>
                です。
        {% endif %}
    {% endif %}

    <p>{% next_button %}</p>


{% endblock %}
