{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <p>
        <em>誰も映っていない場合</em>は、あなたも、あなたのペアも、誰とゲームをプレイしているかは分かりません。
    </p>
    <p>
        <em>あなた以外の姿のみが映っている場合</em>は、その人があなたのペアです。
        ただし、あなたのペアは、ペアの相手があなたであることを知りません。
    </p>
    <p>
        逆に、<em>あなたの姿のみが映っている場合</em>は、その姿があなたのペアの画面に映ります。
        つまり、あなたは誰とプレイしているかを知ることはできませんが、あなたのペアはあなたとプレイしていることを知っています。
    </p>
    <p>
        <em>画面にあなたと、あなた以外の両方の姿が映っている場合</em>は、お互いがペアを知っている状況となります。
    </p>
    <p>
        実験中は、担当者の指示以外で右画面を操作しないでください。操作をした場合は報酬を支払うことが出来なくなります。
    </p>
    </div>
</div>